# Ignore Gradle project-specific cache directory
.gradle
.idea

# Ignore Gradle build output directory
build

build.properties

test42/bin/
test42/test42Reports/
test42/**/build/

# Ignore folders with staged local resources
agent-manifest-context
componentBinaries
releaseSymbols

out

# Ignore eclipse files
.project
.settings/
.classpath
